{% extends 'menuapp/base.html' %}
{% block content %}
  <div class="text-center py-5">
    <h1 class="mb-4">ÉquiTable 🍽️</h1>
    <p class="lead mb-4">Des menus sains, sans se ruiner.<br>Un aperçu de votre frigo et de votre placard.</p>
  </div>
  <div class="row justify-content-center mb-4">
    <div class="col-md-4 mb-3">
      <div class="card shadow">
        <div class="card-body text-center">
          <h5 class="card-title">Mon Frigo 🧊</h5>
          <p class="card-text">Gérez vos produits frais facilement.</p>
          <a href="{% url 'frigo' %}" class="btn btn-success">Voir mon Frigo</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card shadow">
        <div class="card-body text-center">
          <h5 class="card-title">Mon Placard 🗄️</h5>
          <p class="card-text">Gérez vos produits secs facilement.</p>
          <a href="{% url 'placard' %}" class="btn btn-secondary">Voir mon Placard</a>
        </div>
      </div>
    </div>
  </div> 
  
  <div class="row justify-content-center mb-4">
  <div class="col-md-4 mb-3">
    <div class="card shadow">
        <div class="card-body text-center">
      <div class="card-body">
        <h5>Total ingrédients</h5>
        <h3>{{ total_ingredients }}</h3>
      </div>
    </div>
    </div>
  </div> <br>
  <div class="col-md-4 mb-3">
    <div class="card shadow">
        <div class="card-body text-center">
      <div class="card-body">
        <h5>En rupture</h5>
        <h3>{{ ingredients_rupture.count }}</h3>
      </div>
    </div>
    </div>
  </div>
</div>

  <div class="text-center">
    <a href="{% url 'generer_menu' %}" class="btn btn-primary btn-lg">Générer un Menu 🍽️</a>
  </div>
{% endblock %}