<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'menuapp/base.html' %}
{% block content %}
  <h2>Supprimer {{ ingredient.nom }}</h2>
  <p>Es-tu sûr(e) de vouloir supprimer cet ingrédient ?</p>
  <form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Oui, supprimer</button>
    <a href="{% url 'frigo' %}" class="btn btn-secondary">Annuler</a>
  </form>
{% endblock %}
</body>
</html>